body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

p,
blockquote {
  font-size: 0.9rem;
  line-height: 1.6rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  padding: 0.8rem 1.2rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 130px;
  margin-top: 3%;
}

.mobile {
  display: none;
}

.menu {
  width: 25px;
  margin-top: 90%;
}

header nav ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 5;
  padding-top: 3rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  background: rgb(52, 59, 63);
  display: block;
  padding: 1.5rem 2rem;
}

header nav ul li a:hover {
  background: #00c2ff;
}

.exit-btn {
  margin-bottom: 1rem;
  margin-top: -1.3rem;
  text-align: right;
  padding: 0 1.4rem;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

/* Main */

.server {
  width: 70%;
  margin: 2rem auto 2rem 25%;
}

#main h1,
p {
  position: relative;
  z-index: 3;
}

#main h1 {
  font-size: 2.2rem;
}
#main p {
  font-size: 1.2rem;
}

/* Boxes */

.blue-container {
  width: 100%;
  background: #00c2ff;
  color: #fff;
  margin-top: 15%;
  padding: 4rem 0 2rem;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00c2ff;
  position: absolute;
  top: -39px;
  right: 0px;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.blue-container ul {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3rem;
}

.blue-container ul li p {
  padding: 0 1rem;
}

.blue-container img {
  width: 15%;
}

.blue-container ul li:nth-child(3) img {
  width: 10%;
}

/* Testimonials  */

.grey-container {
  background: #f6f6f6;
  padding: 4rem 0 2rem;
  margin-top: -3%;
}

.grey-container ul li:first-child {
  margin-bottom: 2rem;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  padding: 0 3rem;
}

figcaption {
  font-weight: bold;
  color: #00c2ff;
}

/* Newsletter */

section#newsletter h1 {
  margin-top: 10%;
  font-weight: 100;
}

section#newsletter input[type="email"] {
  display: inline-block;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
  padding-left: 10px;
}

.cta {
  display: inline-block;
  width: 80%;
  height: 60px;
  border-radius: 20px;
  margin: 2% auto 10%;
  font-size: 1.5rem;
  background: #00cc80;
  outline: none;
  position: relative;
  z-index: 4;
}

/* Footer */

.footer-container {
  width: 100%;
  background: #3d444a;
  color: #fff;
  padding: 3rem 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container .container {
  transform: skewY(-2deg);
}

.footer-container:before {
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  background: #3d444a;
  top: -39px;
  left: 0px;
  z-index: -2;
}

.footer-container:after {
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
  background: #fff;
  top: -80px;
  left: 0px;
  z-index: -1;
  border-radius: 50%;
}

ul.footer-ul {
  margin: 0 auto;
}

ul.footer-ul li {
  display: inline-block;
}

ul.footer-ul li a {
  color: #9d9d9d;
  text-decoration: none;
  font-size: 0.8rem;
}
